@{
    ViewData["Title"] = "Privacy Policy";
}

<body style="background-color: black; color: #9d9d9d">
	<h1 style="text-align: center; margin-top: 7.5%; color: orangered">NIEUDANA REJESTRACJA!</h1>
	<h3 style="text-align: center; margin-top: 4%; color: orangered">Konto o podanym adresie email już istnieje!</h3>
</body>
